@{
	ViewData["Title"] = "About";
}


@*Plain HTML*@
@*<a href="/Home/Index">Go Home</a>*@

@*HTML Helper - Early ASP.NET MVC Syntax*@
@*@Html.ActionLink("Go Home", "Index", "Home")*@


@*Tag helper syntax - modern approach*@
@*<a asp-controller="Home" asp-action="Index">Go Home</a>*@

<h1>My About Page</h1>

<div class="pbody">
	<p>This is info about my website</p>
	<p>
		Welcome to Our Awesome About Page!

		Hey there, fellow learners and explorers! We're stoked to have you on our first-ever ASP.NET website, and we can't wait to tell you all about us!

		At Aaron's first website, we're a bunch of enthusiastic individuals who are crazy passionate about creating website content. We've created this rad platform to bring you the coolest and most valuable stuff you'll find on the web.

		So, here's the deal: we kicked off this wild adventure in 2023, and since then, we've become the go-to spot for all things programming related. From mind-blowing info to mind-expanding resources, we've got it all covered, my friend!

		We're all about learning and fun here.

	</p>
	<p>
		High fives and fist bumps,

		Aaron and Team.
	</p>
</div>
