@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Topics of Interest</h1>
<ul class="list-group">
    <li class="list-group-item">Artificial Intelligence</li>
    <li class="list-group-item">Blockchain Technology</li>
    <li class="list-group-item">Cloud Computing</li>
    <li class="list-group-item">Data Science</li>
    <li class="list-group-item">Virtual Reality (VR)</li>
    <li class="list-group-item">Internet of Things (IoT)</li>
    <li class="list-group-item">Machine Learning</li>
    <li class="list-group-item">Cybersecurity</li>
    <li class="list-group-item">5G Technology</li>
    <li class="list-group-item">Augmented Reality (AR)</li>
    <li class="list-group-item">Big Data Analytics</li>
    <li class="list-group-item">Robotics and Automation</li>
    <li class="list-group-item">Quantum Computing</li>
    <li class="list-group-item">Mobile App Development</li>
    <li class="list-group-item">Web Development</li>
</ul>